/* You can add global styles to this file, and also import other style files */
@import "~font-awesome/css/font-awesome.css";

.form-label{
 font-size:30px;
 color: #198754;
}

.navbar-brand{
    font-size: 40px;
}