<div class="container">
    <form #myform="ngForm" >
    <div class="row">
<div class="col-md-12 col-lg-6">
    <label for="exampleFormControlInput1" class="form-label">Add Task</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Add your task">
</div>
<div class="col-md-12 col-lg-6">
    <label for="exampleFormControlTextarea1" class="form-label">Description about task</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>
</div>
<button type="submit" class="btn btn-outline-success">Add</button>
</form>
</div>