<div class="container">
    <form #myform="ngForm">
    <div class="row">
<div class="col-md-12 col-lg-6">
    <label for="Add Task" class="form-label">Add Task</label>
    <input type="text" class="form-control" [(ngModel)]="Title" name="Add Task"  id="Add Task" placeholder="Add your task">
</div>
<div class="col-md-12 col-lg-6">
    <label for="description" class="form-label">Description about task</label>
    <textarea class="form-control" [(ngModel)]="Description" name="Add Description"id="Add Description" rows="3"></textarea>
</div>
</div>
<button type="submit" class="btn btn-outline-success" (click)="addTask()">Add Task</button>
</form>

<div *ngFor="let task of tasks">
    <div>{{task.title}} </div>
    <div>{{task.description}}</div> 
</div>
</div>